* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

body {
    background-color: rgb(159, 216, 252);
    height: 100%;
    width: 100%;
}

.btn-box {
    
}

.btn-box > button {
    height: 40px;
    width: 100px;
}

.game-board {
    height: 70vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* table {
    margin: auto;
} */

td {
    width: 25px;
    height: 25px;
    background-color: gainsboro;
}

.hidden {
    color: transparent;
    /* color: initial; */
}

footer {
    border-top: 3px solid gray;
    height: 10%;
    width: 100%;
    color: aliceblue;
    background-color: rgb(76, 98, 131);
    position: absolute;
    bottom: 0;
    left: 0;
}
