* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

body {
    background-color: rgb(159, 216, 252);
    height: 100%;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('../img/worms.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 44px;
    padding: 1%;
    color: aliceblue;
    text-shadow: 0 0 10px;
    font-style: oblique;
    -webkit-text-stroke: 2px white;
}

.btn-leader-board {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 80px;
    height: 80px;
    font-size: 45px;
    border-radius: 50%;
    background-color: rgb(255, 168, 54);
    box-shadow: 0 5px 0 0 rgba(165, 108, 32, 0.753);
    border: 2px dotted aliceblue;
    cursor: pointer;
}
.btn-leader-board:hover {
    background-color: rgb(255, 184, 91);
}

.btn-leader-board:active {
    top: 2.5%;
    box-shadow: none;
    transition: 100ms ease;
  }

.leader-board {
    height: 180px;
    width: 300px;
    background-color: rgba(240, 248, 255, 0.800);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 3px 3px rgba(130, 159, 255, 0.692);
    position: absolute;
    top: 11%;
    left: 5%;
    font-weight: bold;
    border-radius: 20px;
    visibility: hidden;
    z-index: 10;
}

.game-modes {
    /* background-color: white; */
    height: 260px;
    position: absolute;
    top: 2%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-modes button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 0;
    border: 2px solid aliceblue;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    color: aliceblue;
}

.manual-mode {
    background-color: rgb(204, 50, 50);
    box-shadow: 0 5px 0 0 rgb(117, 71, 71);
}
.manual-mode:hover {
    background-color: rgb(255, 71, 71);
}

.boom7-mode {
    background-color: rgb(255, 105, 205);
    box-shadow: 0 5px 0 0 rgb(122, 65, 124);
    font-style: italic;
}
.boom7-mode:hover {
    background-color: rgb(255, 136, 215);
}

.undo-mode {
    background-color: rgba(90, 219, 213, 0.836);
    box-shadow: 0 5px 0 0 rgb(87, 121, 121);
    font-style: italic;
}
.undo-mode:hover {
    background-color: rgba(124, 231, 226, 0.836);
}

.arrow {
    font-size: 30px;
    font-style: normal;
}

.game-modes button:active {
    top: 2%;
    box-shadow: none;
    transition: 50ms ease;
}

.btn-box > button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(255, 232, 156);
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin: 0 5px;
    box-shadow: 0 4px 0 0 rgb(139, 132, 112);
    border: 2px outset aliceblue;
    position: relative;
}

.btn-box > button:active {
    top: 4px;
    box-shadow: none;
}

.btn-box > button:hover {
    background-color: rgb(255, 222, 116);
}

.game-board {
    height: 70vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.smiley {
    font-size: 30px;
    background-color: rgba(240, 248, 255, 0.685);
    padding: 3px 3px 5px;
    margin-bottom: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(244, 250, 255);
}

.smiley:hover {
    box-shadow: 0 0 15px 10px rgb(244, 250, 255);
    background-color: rgba(240, 248, 255, 0.904);
}

.info-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin-bottom: 2%;
}

.use-box {
    width: 30%;
    display: flex;
    justify-content: space-between;
    position: static;
}

.use-box > button{
    width: 70px;
    height: 70px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    font-size: 16px;
    border: 2px outset aliceblue;
    cursor: pointer;
    box-shadow: 0 5px 0 0 gray;
    position:relative;
    color: aliceblue;
}

.use-box > button > span {
    font-size: 18px;
}

.use-box > button:active {
    top:5px;
    box-shadow: none;
    transition: 50ms ease;
}

.btn-safe-click {    
    background-color: rgb(114, 192, 255);
}
.btn-safe-click:hover {
    background-color: rgb(93, 190, 255);
}

.hints-display {
    background-color: rgb(255, 227, 165);
}
.hints-display:hover {
    background-color: rgb(255, 212, 120);
}

.hints-display span {
    display: inline-block;
    border: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}

.hints-aura {
    box-shadow: 0 0 50px 10px gold;
    background-color: rgba(255, 217, 0, 0.575);
    border-radius: 50%;
    transition: 0.5s ease;
}

.time-display {
    width: 30%;
    max-width: 160px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: monospace;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 0 0 4px;
    -webkit-text-stroke: 2px black;
}

.lives-display {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    border-radius: 15px;
}

td {
    width: 40px;
    height: 40px;
    /* background-color: rgba(61, 61, 61, 0.6); */
    background-color: rgba(160, 120, 100, 0.8);
    cursor: crosshair;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border-top: 3px solid gray;
    height: 10%;
    width: 100%;
    color: aliceblue;
    background-color: rgb(76, 98, 131);
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
}
@media screen and (max-width: 700px) {
    .game-modes {
        right: 1%;
    }
    .game-modes button {
        width: 70px;
        height: 70px;
        font-size: 15px;
    }
}

@media screen and (max-width: 480px)  {
    h1 {
        font-size: 33px;
    }
    .btn-leader-board {
        top: 0.5%;
        left: 0.5%;
        width: 40px;
        height: 40px;
        font-size: 19px;
    }
    .btn-leader-board:active {
        top: 1.2%;
    }
    .game-modes {
        top: 0.5%;
        right: 0.5%;
        height: 23.5%;
    }
    .game-modes button {
        width: 40px;
        height: 40px;
        font-size: 9px;
    }
    .arrow {
        font-size: 18px;
    }
    .leader-board {
        font-size: 16px;
        width: 280px;
        left: calc(50% - 140px);
        top: 5%;
    }
    .game-board {
        margin-top: 4%;
    }
    .btn-box > button {
        height: 30px;
        width: 80px;
        margin: 0;
    }
    .smiley {
        padding: 0 0 3px;
        margin: 3px 0 0;
    }
    .info-box {
        margin-bottom: 5px;
    }
    .use-box > button {
        font-size: 10px;
        width: 40px;
        height: 40px;
    }
    .use-box > button > span {
        font-size: 11px;
    }
    .time-display {
        font-size: 20px;
    }
    .lives-display {
        font-size: 20px;
    }
    td {
        height: 24px;
        width: 24px;
        font-size: 16px;
    }
    footer {
        font-size: 14px;
    }
}